// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
// 

.button {
    color: white;
    background-color: $brand-color;
    border: none;
    border-radius: 3px;
    padding: .5rem 1rem;

    &:disabled {
    	background-color: $brand-color-lighter;
    }

    &:hover {
    	cursor: pointer;
    }

    &--margin {
			margin: 1rem 0 1rem 1rem;   	
    }
}
